NODE_ENV=local
PORT=8080

DATABASE_ENGINE=mongodb
DATABASE_HOST=127.0.0.1
DATABASE_PORT=27017
DATABASE_NAME=nest-architecture-clean-base

JWT_SECRET=
JWT_EXPIRATION_TIME=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION_TIME=86400

S3_BUCKET=
S3_REGION=
DEFAULT_STORAGE=local
S3_STORAGE_BASE_PATH=upload-files
LOCAL_STORAGE_BASE_PATH=storage # run local
DOCKER_STORAGE_BASE_PATH=/app/storage # run docker

NODEMAILER_USER=
NODEMAILER_PASS=
NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=465
NODEMAILER_FROM=
SES_REGION=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_PREFIX=nest-architecture-clean